.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .prev, .next  {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        border: none;
        background: none;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
      right: 0px;
      left: auto;
    }
    .tns-nav {
        display: flex;
       justify-content: center;
       button {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin: 0 3px;
        border: 1px;

       }
    }
    .tns-nav-active {
        background-color: $maincolor;

    }
}