.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    &__input-box{
        display: block;
        width: 100%;
        margin-bottom: 15px;
       
        input {
            width: 100%;
            height: 50px;
            border-radius: 5px;
            background: #FFFFFF;
            
            border: none;
            padding: 0 20px;
            font-weight: 300;
            font-size: 14px;
        }    
    }
    &_mt25 {
        margin-top: 25px;
    }
    .error_Field {
        border : 2px solid red;
    }
}